# Gnaural x64 build config
-Twin64
-Px86_64

# Vendor FPC toolchain
-FD..\..\VendorsCore\fpc\fpc-main\bin\x86_64-win64
-Fu..\..\VendorsCore\fpc\fpc-main\units\x86_64-win64\rtl
-Fu..\..\VendorsCore\fpc\fpc-main\units\x86_64-win64\rtl-objpas
-Fu..\..\VendorsCore\fpc\fpc-main\units\x86_64-win64\rtl-generics
-Fu..\..\VendorsCore\fpc\fpc-main\units\x86_64-win64\rtl-unicode
-Fu..\..\VendorsCore\fpc\fpc-main\units\x86_64-win64\winunits-base
-Fu..\..\VendorsCore\fpc\fpc-main\units\x86_64-win64\fcl-base
-Fu..\..\VendorsCore\fpc\fpc-main\units\x86_64-win64\fcl-xml
-Fu..\..\VendorsCore\fpc\fpc-main\units\x86_64-win64\fcl-registry
-Fu..\..\VendorsCore\fpc\fpc-main\units\x86_64-win64\fcl-json

# Project output
-FUbuild\x64\dcu
-FEbuild\x64

# Project units
-Fu..\..\SharedPasCore
-Fuvendor\uos\src
-Fucommon
-Fucore